body{
    background-color: lightgoldenrodyellow;
}

header{
  background-color: rgb(255, 255, 191);
  width: 100vw;
  margin-left: -2vw;
  margin-top: -13vh;
  height: 10vh;
  text-align: center;
  box-shadow:0px 4px black;
  font-family: Georgia, 'Times New Roman', Times, serif;



}

h1{
  color: rgb(54, 49, 49);
  margin-top: 13vh;

}




.box-container {
  display: flex;   
  flex-direction:column;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: lightgoldenrodyellow;
  box-shadow:0px 2px black;
  margin-top: 4px;
  margin-left: -2vw;
  margin-bottom: 2vh;
  width: 100vw;

}

  
.box.one {
    flex: 1;         
  }
.box.two {
    flex: 1;
  }

.box.three {
    flex: 1;
  }


  div a{
    color: rgb(54, 49, 49);
  }
  div a:hover{
    color:red;
  }
 
  div.box-container {
    display: flex;   
    flex-direction:column-reverse;
    text-align: center;
    background-color: rgb(255, 255, 191);
    border: 3px solid black;
    margin: auto;
    margin-top: 1vh;
    border-radius: 10px;
    height: 85vh;
    width: 60vw;

  }
  

.box.four{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(54, 49, 49);
    margin-top: -1vh;

}

  .foto{
    height: 45vh;
    border: 2px solid black;
    border-radius: 10px;
    margin: auto;
    justify-content: flex-end;
    margin-top: 2vh;
  }
  
  p{
    margin-bottom: 5vh;
  }
  footer{
    background-color: rgb(255, 255, 191);
    width: 80vw;
    height: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    border: 2px solid black;
    margin: auto;
    margin-top: 3vh;
    color: rgb(54, 49, 49);
    border-radius: 10px;
  }
  
  h4{
    margin:auto;
  }
  footer a:hover {
    color: rgb(255, 0, 0);
  }
  
  footer a{
    color: rgb(54, 49, 49);

  }
  
  @media(min-width:786px){
    header{
      margin:auto;
      margin-left: -8px;
      margin-top: -3vh;
      height: 10vh;
    }

    
    
    .box-container{
        flex-direction: row;
        display: flex;   
        text-align: center;
        background-color: rgb(255, 255, 191);
        align-content: space-between;
        height: 5vh;
        width: 100vw;
        margin-left: -8px;
    
      }

      div.box-container {
        display: flex;   
        flex-direction:row;
        text-align: left;
        background-color: rgb(255, 255, 191);
        border: 3px solid black;
        margin: auto;
        margin-top: 1vh;
        border-radius: 10px;
        height: 53vh;
        width: 50vw;
    
      }

      div.box.four{
        border: 2px solid black;
        border-radius: 10px;
        height: 13vh;
        margin: 1vh;

      }

      .foto{
        margin: 1vh;
        height: 50vh;


      }


  }



