body{
    background-color: lightgoldenrodyellow;
}


header{
  background-color: rgb(255, 255, 191);
  height: 13vh;
  text-align: center;
  border: 2px solid black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-radius: 10px;
}


h1{
  color: rgb(54, 49, 49);
  margin: auto;
}

nav{
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: rgb(255, 255, 191);
  border: 2px solid black;
  margin-top: 1vh;
  margin-bottom: 1vh;
  border-radius: 10px;
}

  nav a{
    color: rgb(54, 49, 49);
  }
  nav a:hover{
    color:red;
  }


.box-container {
  display: flex;   
  flex-direction:column;
  text-align: center;
  align-content: space-between;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  background-color: rgb(255, 255, 191);
  box-shadow:0px 2px black;
  border: 2px solid black;
  margin: auto;
  margin-top: 2px;
  font-size: 15px;
  width: 95vw;
  height: 70vh;
  border-radius: 10px;
  color: rgb(54, 49, 49);

}


.box {
  flex: 1;     
  
}

.box.one {
  flex: 1;  
  margin-bottom: 2vh;
  margin-top: 1vh;
}
.box.two {
  flex: 1;
  margin-bottom: 2vh;
}
.box.three {
  flex: 1;
  margin-bottom: 2vh;
}

.box.four {
  flex: 1;
  margin-bottom: 1vh;
}

.box.five {
  flex: 1;
  margin-bottom: 2vh;
}

.box.six {
  flex: 1;
  margin-bottom: 2vh;
}

.box.seven {
  flex: 1;
}

p{
  margin-bottom: -3px;
}

form{
  font-family: Georgia, 'Times New Roman', Times, serif;
}


footer{
  background-color: rgb(255, 255, 191);
  height: 60px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  border: 2px solid black;
  margin: auto;
  margin-top: 2vh;
  color: rgb(54, 49, 49);
  border-radius: 10px;
}

h4{
  margin:auto;
}
footer a:hover {
  color: rgb(255, 0, 0);
}

footer a{
  color: rgb(54, 49, 49);

}

@media(min-width:786px){
  header{   
    height: 6vh;
    width: 50vw;
    margin: auto;
  }

  .box-container{
    height: 50vh;
    width: 98vw;
  }

  form{
    margin-top: 5vh;
  }

}