h1{
    color: red;
    
  }
  
  p{
    color: white;
  }
  
  h3 {
    color: red;
    margin: 0px;
    font-family: Arial;
    font-size: 25px;
  }
  
  li{
   color: brown;
    margin: 25px;
    font-size: 22px;
  }
  
  body{
    background-color: orange;
    margin: 40px;
  }
  
  p{
    margin: 25px;
    color: white; 
    
  }
  
  img{ 
    margin:25px;
    width: 250px;
    height: 500px;
    
  }
  
  nav {
    background-color: lightblue;
    width: 72vw;
    height: 50px;
    border: 1px solid blue;
    font-size: 30px
  }
  
  footer{
    background-color: green;
    width: 100vw;
    height: 60px;
  }
  
  header {
    background-color: yellow;
    width: 50vw;
    margin-left: 250px;
  }
  
  section{
    background-color: blue;
    width: 72vw;
    margin-top: 10px;
  }
  
  article{
    background-color: black;
    width: 72vw;
    margin-bottom: -450px;  
  }
  
  aside{
    margin-left: 1100px;
    
  }
  
  #hobby {
    color: white;
    
  }
  
  .featured {
    color: white;
    
  }
  
  header p {
    font-size: 30px;
  }
  
  footer a {
    font-size: 20px;
    color: white;
   
    
  }
  
  footer a:hover {
    color: black;
  }
  
 
  footer p {
    font-size: 25px;
    
  
  }
  
  section li {
    color: black;
    font-size: 22px;
    
  }
  
  h4 {
    font-size: 20px;
    color: white;
    margin-bottom: 3px;
  }