
body{
    background-color:  lightgoldenrodyellow;
  }
  
  header{
    background-color: rgb(255, 255, 191);
    height: 25vh;
    text-align: center;
    border: 2px solid black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 10px;
}

h1{
  color: rgb(54, 49, 49);
  margin:auto;
}
  
h2{
  color: rgb(54, 49, 49);
}

 
  
.box-container {
    display: flex;   
    flex-direction:column;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(255, 255, 191);
    border: 2px solid black;
    margin-top: 1vh;
    margin-bottom: 2vh;
    border-radius: 10px;

  }

  section a{
    color: rgb(54, 49, 49);;
  }
  section a:hover{
    color:red;
  }

  div.box-container{
    display: flex;   
    flex-direction:row;
    text-align: left;
    background-color: rgb(255, 255, 191);
    border: 2px solid black;
    margin: auto;
    border-radius: 10px;
    width:93vw;
    height: 63vh;
    margin-bottom: 3px;
  }


  .foto{
    border: 2px solid black;
    width: 50vw;
    height: 62vh;
    border-radius: 10px;
    margin-right: 1vw;
  }

 p{
    margin-top: -1px;
    color: rgb(54, 49, 49);
    font-size: 75%;
  }

  section.box {
    height: 330px;
    flex: 1;       
       
  }

  section.box.one {
    flex: 1;         
  }


.wrapper{
  display: flex;
  overflow-x: auto;
  flex-direction: row;
  
}

.wrapper::-webkit-scrollbar{
  width: 0;
}


.card {
  width: 40vw;
  height: 70vh;
  border: 2px solid black;
  background-color: rgb(255, 255, 191);
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 7px 10px 17px rgba(0, 0, 0, 0.2);
  box-shadow: 2px;
  margin-right: 1vw;
}

.hobbyFoto {
  width: 100%;
  height: 40vh;
  border: 2px solid black;
  border-radius: 10px;
  object-fit:cover;
  margin-top: 2vh;

}
.lerenFoto{
  width: 100%;
  height: 40vh;
  border: 2px solid black;
  border-radius: 10px;
  object-fit:cover;
  margin-top: -4vh;
}

.logo{
  width: 30vw;
  object-fit: cover;
  margin-left: 5vw;
  margin-top: 12vh;
}


#hobby {
  font-size: 1em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;

}

#leer{
  font-size: 1em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}
.opdracht{
  font-size: 1em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  color: rgb(54, 49, 49);
}

.name a:hover{
  color: rgb(255, 0, 0);

}

li {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 70%;
}


  footer{
    background-color: rgb(255, 255, 191);
    height: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    border: 2px solid black;
    margin: auto;
    color: rgb(54, 49, 49);
    border-radius: 10px;
  }
  
  h4{
    margin:auto;
  }
  footer a:hover {
    color: rgb(255, 0, 0);
  }
  
  footer a{
    color: rgb(54, 49, 49);

  }
 


  @media(min-width:786px){
    header{   
    height: 8vh;
    width: 50vw;
    margin: auto;
    }

    header h1{
    margin-top: 1vh;     
}
  
    .box-container{
      flex-direction:row;
      height: 3vh;
  
  
    }


    div.box-container {
      height: 25vh;
      width: 30vw;
      text-align: center;
      display: flex;   
      flex-direction: row;
      margin-top:2vh;   
    }

  p{
    font-size: 90%;
  }
    .foto{
      width: 10vw;
      height: 24vh;
      border: 3px solid black;
      border-radius: 10px;
      justify-content: flex-end; 
      object-fit: cover;
      margin: auto;
  }
  
  .card {
    width: 30vw;
    height: 60vh;
    margin-left: 1vw;
    border: 2px solid black;
    background-color: rgb(255, 255, 191);
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 7px 10px 17px rgba(0, 0, 0, 0.2);
    box-shadow: 2px;
    
  
  }


  .lerenFoto{
    width: 30vw;
    object-fit: cover;
    margin-top:2vh;

  }
  .logo{
    width: 30vw;
    object-fit: cover;
    margin:auto;
  }

  #hobby {
    font-size: 90%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin: auto;
  
  }
  
  #leer{
    font-size: 90%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin: auto;
  }
  .name{
    font-size: 90%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin: auto;
  }
  
  .name a:hover{
    color: rgb(255, 0, 0);
  
  }

  li{
    font-size: 100%;
}
  footer{
    margin-top: 2vh;
  }
}
