h1{
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    text-align: center;
    
  }
  
  h2{
    color: rgb(54, 49, 49);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: -30px;

  }
  
  h3 {
    color: rgb(54, 49, 49);
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 25px;
  }
  
  
  
  body{
    background-color: lightgoldenrodyellow;
    margin: 40px;
  }
  
  p{
    margin: 25px;
    color: white; 
    
  }
  
  
  nav {
    background-color: rgb(255, 255, 191);
    width: 72vw;
    height: 50px;
    border: 2px solid black;
    font-size: 20px;
    margin: auto;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 10px;
    border-radius: 10px;
  }

  div {
    background-color: rgb(255, 255, 191);
    width: 40vw;
    height: 150px;
    border: 2px solid black;
    font-size: 20px;
    margin-left: 165px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 10px;
    border-radius: 10px;
    color:rgb(54, 49, 49) ;
  }
  
 
  
  header {
    background-color: rgb(255, 255, 191);
    width: 50vw;
    margin: auto;
    border: 3px solid black;
    border-radius: 10px;
    
  }
  
  section{
    background-color: rgb(255, 255, 191);
    width: 40vw;
    height: 150px;
    font-size: 20px;
    margin-left: 165px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 15px;
    border-radius: 10px;
    border: 2px solid black;
  }
  
  article{
    background-color: rgb(255, 255, 191);
    width: 40vw;
    height: 150px;
    border: 2px solid black;
    font-size: 20px;
    margin-left: 165px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 15px;
    border-radius: 10px;
  }
  
  aside{
    margin-left: 870px;
    margin-top: -480px;
    border: 2px solid black; 
    height: 475px;
    width: 400px; 
    border-radius: 30px;
    background-color: black;

    
  }
  
  img {
    height: 475px;
    width: 400px;
    border-radius: 30px;
  }

  #hobby {
    color: rgb(54, 49, 49);
    font-family: Georgia, 'Times New Roman', Times, serif;
    
  }
  
  .featured {
    color: rgb(54, 49, 49);
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
  }
  
  header p {
    font-size: 30px;
  }
  
  footer{
    background-color: rgb(255, 255, 191);
    width: 100vw;
    height: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    border: 2px solid black;
    margin: auto;
    margin-top: 15px;
    color: rgb(54, 49, 49);
    border-radius: 10px;
  }
  
  footer a:hover {
    color: rgb(255, 0, 0);
  }
  
  footer a{
    color: rgb(54, 49, 49);

  }
 
  
  li {
    color: rgb(54, 49, 49);
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    
  }
  

  nav a {
    font-size: 20px;
    color: rgb(54, 49, 49);
    

   
    
  }
  

  nav a:hover {
    color: rgb(255, 0, 0);
  }

h4{
  margin-top:-4px;
}
