#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

/* BASIS */
body {
  background-color: #1A1229;
  font-family: 'Inria Sans', sans-serif;
  color: #ffffff;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}


/* NAVBAR */
.navbar {
  display: flex;
  gap: 35px;
  padding-bottom: 40px;
  justify-content: center;
}

.navbar button {
  background-color: #372951;
  border: 1px solid black;
  color: white;
  padding: 8px 20px;
  border-radius: 6px;
  cursor: pointer;
}

.navbar button:hover {
  background-color: #5A3C92;
}

button:focus {
  outline:none;
}

button:focus-visible {
  outline:none;
}

button:active {
  outline:none;
}

/* HERO SECTION */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 120px;
}

.hero-text .name {
  font-size: 64px;
  margin: 0;
  font-weight: 700;
}

.subtitle {
  margin-top: 10px;
  font-size: 20px;
  color: #d4d4d4;
}

/* ABOUT */
.about {
  margin-top: 140px;
  margin: 80px auto 0 auto;
  max-width: 800px;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.about-text{
  flex: 1;
  text-align: left;
}
.about h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.about-img {
  width: 160px;
  border-radius: 10px;
}

/* COLORED BLOCKS */
.projects {
  margin-top: 140px;
  display: flex;
  gap: 40px;
  justify-content: center;
}

.project {
  width: 200px;
  height: 200px;
}

/* Kleuren */
.project1 {
  background: linear-gradient(135deg, #ffddb9, #f18d6a);
}
.project2 {
  background: linear-gradient(135deg, #e2ffd5, #a7d9a3);
}
.project3 {
  background: linear-gradient(135deg, #b8f5ff, #5bc8d7);
}
.project4 {
  background: linear-gradient(135deg, #d6b5ac, #a03628);
}

/* CONTACT SECTION */
.contact {
  margin-top: 180px;
  max-width: 600px;
  margin: 100px auto 0 auto;
  text-align: left;
  padding-bottom: 200px;
}

.socials {
  display: flex;
  gap: 15px;
  margin-top: 20px;
  justify-content: center;
}

.icon {
  width: 25px;
  height: 25px;
  background: #ffffff;
  border-radius: 4px;
}