.project-container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    color: white;
    padding-bottom: 150px;
}

/* NAV */
.project-navbar {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 40px 0;
}

.project-navbar button {
    background: #2a2640;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

/* HEADER */
.project-header h1 {
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 40px;
}

/* EACH MAIN SECTION */
.project-section {
    margin-bottom: 80px;
}

.description-section p {
    max-width: 600px;
    line-height: 1.6;
}

.techniques-section ul {
    margin-top: 10px;
    line-height: 1.7;
}

/* VIDEO */
.project-video-wrapper {
    margin: 40px 0;
    background: #dcdcdc;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-video-wrapper video {
    max-width: 100%;
    border-radius: 10px;
}

/* IMAGE */
.project-image-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.project-image-wrapper img {
    max-width: 100%;
    border-radius: 12px;
}

/* GITHUB */
.github-link {
    margin-top: 40px;
    text-align: center;
    color: white;
}

.github-link i {
    font-size: 40px;
    margin-top: 10px;
}
