body{
    background-color: lightgoldenrodyellow;
}

header {
    background-color: rgb(255, 255, 191);
    width: 57vw;
    margin: auto;
    border: 3px solid black;
    border-radius: 10px;
    text-align: center;
    border-radius: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(54, 49, 49);
    
  }

  .box-container {
    display: flex;   
    flex-direction:column;
    text-align: center;
    background-color: rgb(255, 255, 191);
    border: 3px solid black;
    margin: auto;
    margin-top: 1vh;
    border-radius: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 80vw;

  }
  

  
.box.one {
    flex: 1;         
  }
.box.two {
    flex: 1;
  }


  div a{
    color: rgb(54, 49, 49);
  }
  div a:hover{
    color:red;
  }
 
  div.box-container {
    display: flex;   
    flex-direction:column;
    text-align: center;
    background-color: rgb(255, 255, 191);
    border: 3px solid black;
    margin: auto;
    margin-top: 1vh;
    border-radius: 10px;
    height: 83vh;
    width: 60vw;

  }
  

.box.three{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(54, 49, 49);
    margin-top: -1vh;

}

  .foto{
    height: 45vh;
    border: 2px solid black;
    border-radius: 10px;
    margin: auto;
    justify-content: flex-end;
  }
  
  footer{
    background-color: rgb(255, 255, 191);
    width: 80vw;
    height: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    border: 2px solid black;
    margin: auto;
    margin-top: 1vh;
    color: rgb(54, 49, 49);
    border-radius: 10px;
  }
  
  h4{
    margin:auto;
  }
  footer a:hover {
    color: rgb(255, 0, 0);
  }
  
  footer a{
    color: rgb(54, 49, 49);

  }
  
  @media(min-width:786px){
    .box-container{
        flex-direction: row;
        display: flex;   
        text-align: center;
        background-color: rgb(255, 255, 191);
        border: 3px solid black;
        border-radius: 10px;
        align-content: space-between;
        height: 5vh;
    
      }

      div.box-container {
        display: flex;   
        flex-direction:row;
        text-align: left;
        background-color: rgb(255, 255, 191);
        border: 3px solid black;
        margin: auto;
        margin-top: 1vh;
        border-radius: 10px;
        height: 53vh;
        width: 50vw;
    
      }

      div.box.three{
        border: 2px solid black;
        border-radius: 10px;
        height: 10vh;
        margin: 1vh;

      }

      .foto{
        margin: 1vh;
        height: 50vh;


      }


  }



