h1 {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    text-align: center;
}

header {
    background-color: rgb(255, 255, 191);
    width: 50vw;
    margin: auto;
    border: 3px solid black;
    border-radius: 10px;
    
  }
  
  nav {
    background-color: rgb(255, 255, 191);
    width: 72vw;
    height: 50px;
    border: 2px solid black;
    font-size: 13px;
    margin: auto;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 10px;
    border-radius: 10px;
  }
  nav a {
    font-size: 20px;
    color: rgb(54, 49, 49);
    
}
  
nav a:hover {
    color: rgb(255, 0, 0);
  }



  body{
    background-color: lightgoldenrodyellow;
  }

  div{
    background-color: rgb(255, 255, 191);
    width: 25vw;
    height: 375px;
    font-size: 20px;
    margin-left: 140px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 15px;
    border-radius: 10px;
    border: 2px solid black;
  }
  
  #opdracht2 {
    background-color: rgb(255, 255, 191);
    width: 25vw;
    height: 375px;
    border: 2px solid black;
    font-size: 20px;
    margin-left: 570px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 10px;
    float: center;
    margin-top: -379px;
  }
#opdracht3{
    background-color: rgb(255, 255, 191);
    width: 25vw;
    height: 375px;
    border: 2px solid black;
    font-size: 20px;
    margin-right: 130px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 15px;
    border-radius: 10px;
    float: right;
    margin-top: -379px;
  
}
  footer{
    background-color: rgb(255, 255, 191);
    width: 70vw;
    height: 70px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    border: 2px solid black;
    margin-top: 300px;
    margin-left: -775px;
    color: rgb(54, 49, 49);
    border-radius: 10px;
  }

   
  footer a:hover {
    color: rgb(255, 0, 0);
  }
  
  footer a{
    color: rgb(54, 49, 49);
    font-size: 20px;

  }
  h4{
    margin-top:-4px;
    font-size: 20px;
  }
  