.project-container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    color: white;
    padding-bottom: 150px;
    text-align: center;
}

/* NAV */
.project-navbar {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 40px 0;
}

.project-navbar button {
    background: #2a2640;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.hero {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin-top: 120px;
    text-align: center;
}

.hero-background {
    position: absolute;
    inset: 0;
    z-index: 1;
    pointer-events: none;
}

.shape {
    position: absolute;
    width: 180px;
    height: 180px;
    border-radius: 40% 60% 70% 30% / 40% 40% 60% 60%;
    opacity: 0;
    filter: blur(25px);
    animation: fadeIn 1.5s ease forwards, float 10s infinite ease-in-out;
    border: 2px solid rgba(255,255,255,0.15);
}

.shape1 { background: #ffddb9; top: -5px; left: -10px; }
.shape2 { background: #e2ffd5; bottom: -40px; left: 30%; animation-delay: 1s; }
.shape4 { background: #b8f5ff; bottom: 0; right: 10%; animation-delay: 2s; }

@keyframes fadeIn {
    0% { opacity: 0; transform: scale(0.7); }
    100% { opacity: 0.55; transform: scale(1); }
}

@keyframes float {
    0% { transform: translateY(0) translateX(0); }
    50% { transform: translateY(-40px) translateX(20px); }
    100% { transform: translateY(0) translateX(0); }
}

.project-content{
    max-width: 650px;
    margin: 125px auto;
    padding-top: 20px;
}

.project-content p {
    line-height: 1.6;
}

.project-content h2 {
    text-align: center;
    margin-top: 50px;
}

.project-content ul {
    list-style-position: inside;
    text-align: center;
}

.project-content li{
    margin: 4px 0;
}

/* EACH MAIN SECTION */

#imagery{
    margin-top: 50px;
}

#imagery img,
#imagery video{
    max-width: 700px;
    width: 100%;
}


/* IMAGE */
.project-image-wrapper {

    margin-top: 15px;
}

.project-image-wrapper img {
    max-width: 100%;
}

/* GITHUB */
.project-links {
    margin: 40px auto;
}

.project-links h2{
    color: white;
}

.project-link {
    color: white;
    padding: 10px 18px;
}

.project-link:hover {
    text-decoration: underline;
}



